

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg " id="navbar">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto"> <!-- me-auto pushes everything else to the right -->
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dynamodb">DATABASE</a>
        </li>
        <% if (!user || user.name === 'Guest') { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup"><strong style="color:red;">Sign Up</strong></a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Introduction.html" target="_blank">What is Amazon Dynamo DB</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto"> <!-- ms-auto aligns items to the right -->
        <% if (user && user.name !== 'Guest') { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Welcome, <%= user.name %></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <p class="nav-link mb-0">Welcome, Guest</p>
          </li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>
